body {
    background-color: rgba(235, 234, 234, 0.932);
}

.actor-card {
    width: calc(100%/2 - 3rem);
    background-color: white;

    img {
        margin-left: 0.5rem;
        width: 100%;
        max-height: 90%;
        border-radius: 20px;
    }

    .title {
        font-weight: bold;
        font-size: larger;
    }

    .info {
        color: gray;
    }
}

p {
    margin: 0;
    padding: 0;
}